@model IEnumerable<Students>
@{
    ViewData["Title"] = "หน้าหลัก";
}

@if (Model.Count() > 0)
{
    <h1 class="text-center"> คะแนนสอบรายวิชาการเขียนโปรแกรมเพื่อสร้างเว็ปแอปพลิเคชันเบื้องต้น </h1>
    <table class="table table-dark">
        <thead class="text-center">
            <tr>
                <th> รหัสนักศึกษา </th>
                <th> ชื่อนักศึกษา </th>
                <th> คะแนนสอบ </th>
                <th> ผลการเรียน </th>
                <th> แก้ไข </th>
                <th> ลบ </th>
            </tr>
        </thead>
        <tbody class="text-center">
            @foreach (var students in Model)
            {
                <tr>
                    <td> @students.StudentId </td>
                    <td> @students.Name </td>
                    <td> @students.Score </td>
                    <td> @students.Grade  </td>
                    <td>
                        <a class="btn btn-warning" asp-controller="StudentGrade" asp-action="Edit" asp-route-id="@students.StudentId"> แก้ไข </a>
                    </td>
                    <td>
                        <a class="btn btn-danger"
                           asp-controller="StudentGrade"
                           asp-action="Delete"
                           asp-route-id="@students.StudentId"
                           onclick="return confirm('คุณต้องการที่จะลบ @students.Name (@students.StudentId) นี้ใช่หรือไม่ ?')">
                            ลบ
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-secondary"> ไม่มีข้อมูลของนักศึกษาในระบบ </div>
}

